<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ReRxSwift.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>094B58871CAF56EB00335E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>094B589B1CAF56EB00335E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>094B58A61CAF56EB00335E7C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
